<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>612061339619-9meaijb8ql9c66v9dtnmo5irrrjb4aos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612061339619-9meaijb8ql9c66v9dtnmo5irrrjb4aos</string>
	<key>API_KEY</key>
	<string>AIzaSyAXWwm7h1RgNjlZapzW8_joLDvB8RnjjD0</string>
	<key>GCM_SENDER_ID</key>
	<string>612061339619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>private.dineTexas</string>
	<key>PROJECT_ID</key>
	<string>dinetexas-49b35</string>
	<key>STORAGE_BUCKET</key>
	<string>dinetexas-49b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:612061339619:ios:abbaec135fc539b5</string>
	<key>DATABASE_URL</key>
	<string>https://dinetexas-49b35.firebaseio.com</string>
</dict>
</plist>